<div class="tm-wrapper">
    <div class="tm-container">
        <header class="tm-header">

            <div class="tm-col-1">
                <div class="tm-col-account">
                    <div class="tm-col-data">Account</div>
                </div>
            </div>

            <div class="tm-col-2">
                <div class="tm-col-cash" (click)='sortByBalance($event)'>
                    <div class="tm-col-caret arrow-up" *ngIf=toggle></div>
                    <div class="tm-col-caret arrow-down" *ngIf=!toggle></div>
                    <div class="tm-col-data" title="Sort by balance">Available Cash</div>
                </div>
                <div class="tm-col-change">
                    <div class="tm-col-data">Today's Change</div>
                </div>
            </div>

        </header>

        <section class="tm-data" id='tm-data'>

            <div *ngFor='let acc of chunks; let i = index'>
                <div class="tm-rows">
                    <div class="tm-row-account" title="Account number">{{acc.acctNum}}</div>
                    <div class="tm-row-cash">
                        <div class="tm-row-amount"><span>$</span>{{acc.balance}}</div>
                        <div class="tm-row-percentage">-0.08% / $8,916.69</div>
                    </div>

                </div>

                <div class="tm-row-line"></div>
            </div>

            <div class="tm-rows">
                <div class="footer" (click)=loadChunks(3)>load more</div>
            </div>
        </section>

    </div>
</div>